<div>
    <div class="alf" [@slideIn]>
        @for(letter of alf; track letter) {
            <p class="letter">{{ letter }}</p>
        }
    </div>
</div>

<div class="sort">
    <button (click)="sortLetter()">Sort Letter</button>
    <div>
        <p>Sorted letter: </p>
        @if(sortedLetter) {
            <span class="letter">{{ sortedLetter }}</span>
        }
    </div>
</div>


<div>
    <p>Letras sorteadas:</p>
    <div class="alf">
        @for(letter of sortedHistory; track letter) {
            <span class="letter">{{ letter }}</span>
        }
    </div>
</div>