h1 {
    text-align: center;
}
.unusual-letters {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.unusual-letters div {
    display: flex;
    gap: 1rem;
    font-size: 21px;
}
.unusual-letters p {
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--second-color);
    border-radius: 6px;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.unusual-letters p:hover {
    background-color: var(--third-color);
    color: var(--primary-color);
    transition: .2s ease-in-out;
}

.wrapper-checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.wrapper-checkbox div label {
    display: flex;
    flex-direction: column;
}
.wrapper-checkbox input {
    margin: 1rem;
}

.error-message {
    color: red;
    font-size: 14px;
}